<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="god.mybatis.base.GodUserMapper">
	<select id="selectGodUser"
		resultType="com.god.domain.base.GodUser">
		select id, name, create_time as createTime, update_time as updateTime from god_user where id =
		#{id}
	</select>
</mapper>